@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900');
li,span,p,a,h1,h2,h3,h4{
  font-family: "Poppins", sans-serif;
}
ul{
  padding: 0;
  list-style: none;
  margin: 0;
}
h3{
  line-height: 30px;
  font-size: 21px;
  font-weight: 300;
  color: #455a64;
  margin-bottom: 0;
  text-align: center;
}
h4{
  line-height: 22px;
  font-size: 18px;
  color: #1976d2;
  font-weight: 400;
}
.page-wrapper{
  background: #eef5f9;
  min-width: 100%;
  min-height: 100vh;
}
.topbar{
  background: #1976d2;
  width: 100%;
}
.breadcrumbs{
  background: #ffffff;
  width: 100%;
  padding: 15px 10px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.topbar h3{
  color: #ffffff;
  padding: 25px 10px;
  text-align: left;
}
.v-align-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-direction: row;
}
v-align-center{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.v-align-row.v-spread{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.breadcrumbs > ul > li{
  font-size: 15px;
  position: relative;
}
.breadcrumbs > ul > li.current{
  color: #007bff;
}
.breadcrumbs > ul > li > i{
  margin: 0 15px;
  color: #455a64;
  font-size: 14px;
}
.os-card{
  display: block;
  background: #ffffff;
  min-width: 100%;
  margin: 0 0px 30px;
  padding: 15px 10px;
  flex: 1 1 auto;
  padding: 1.25rem;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 15px;
}
.os-card-header{
  text-align: right;
  line-height: .77rem;
  margin-bottom: 25px;
}
.os-card-footer{
  position: relative;
  border-top: 1px solid #e0e0e0;
}
.os-card-footer span{
  font-size: 12px;
  color: #888888;
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.os-card-footer.member-info span{
  font-size: 15px;
  margin-right: 10px;
  position: relative;
}
.os-card-footer.member-info span.os-core::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #26da78;;
  left: -30px;
}
.os-card-footer.member-info span.os-fuzzy::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: repeating-linear-gradient(
    45deg,
    #e9fbf1,
    #e9fbf1 7px,
    #bdf3d6 7px,
    #bdf3d6 14px
  );
  left: -30px;
}
.os-card-footer.member-info li > span:last-child{
  margin-right: 0;
}
.entire-range{
  display: block;
  min-width: 100%;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  position: relative;
}
.entire-range::before{
  content:'';
  position: absolute;
  width: 3px;
  height: 0;
  background: #1976d2;
  border-radius: 30px;
  transition: .2s linear;
  left: -10px ;
}
.entire-range:hover{
  cursor: pointer;
}
.entire-range:hover::before{
  height: 80px;
  transition: .4s ease;
}
.sub-range{
  background: repeating-linear-gradient(
    45deg,
    #e9fbf1,
    #e9fbf1 7px,
    #bdf3d6 7px,
    #bdf3d6 14px
  );
}
.sub-range-core{
  padding: 15px 10px;
  background: #26da78;
  width: 150px;
  margin: 10px 0;
}
@media(max-width: 768px){
  .os-card-footer.member-info ul{
    display: block;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .os-card-footer.member-info ul > li{
    display: block;
    padding-bottom: 15px;
  }
  .os-card-footer.member-info ul > li:last-child{
    padding-bottom: 0;
  }
}
